<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" colors="true" processIsolation="false" stopOnFailure="false" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.4/phpunit.xsd" cacheDirectory=".phpunit.cache" backupStaticProperties="false">
  <testsuites>
    <testsuite name="unit">
      <directory suffix="Test.php">./tests/Unit</directory>
    </testsuite>
  </testsuites>
  <coverage>
    <report>
      <text outputFile="php://stdout"/>
      <cobertura outputFile="coverage.cobertura.xml"/>
    </report>
  </coverage>
  <logging>
    <junit outputFile="junit-report.xml"/>
  </logging>
  <php>
    <ini name="memory_limit" value="256M" />
    <server name="APP_ENV" value="testing"/>
    <server name="IS_UNIT_TEST" value="1"/>
  </php>
  <source>
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </source>
</phpunit>
